# 반복문


## for : *지정된 범위만큼*  **코드를 실행하라**

 
 반복 횟수가 정해져 있을 때, 코드를 반복하기 위해 사용한다.

* 반복문이 1회 실행될 때마다, 지정된 변수에 반복 가능한 객체의 요소를 할당한다.
* 이 경우, 반복 가능한 객체의 길이만큼 반복문이 실행된다.

In [0]:
# 리스트 내 요소
l1 = ['a', 'b', 'c', 'd']

for i in l1:
    print(i)

a
b
c
d

<연습문제 1>

1. `for문`을 사용해서 1부터 100까지 숫자를 더하고 이를 출력하시오.
2. `for문`과 `if문`을 사용해서 1부터 100까지의 짝수의 합을 출력하시오.

In [0]:
# 1번

s = 0
for n in range(1, 101):
    s += n
print(s)

5050

In [0]:
# 2번

s_even = 0

# if문 사용
for n in range(1, 101):
    if not n % 2:
        s_even += n
print(s_even)

2550

In [0]:
s_even = 0

# if문 없이 사용
for n in range(2, 101, 2):
    s_even += n
print(s_even)

2550

**[참고]** 이터레이터?

 반복 가능한 객체. `dir`을 통해 확인할 때, **이터레이터는 `__iter__()` 메소드를 가진다**. 반복해야 할 때, 이터레이터의 `__iter__()` 메소드가 호출된다.

In [0]:
# 이터레이터 예시 : 리스트
myList = [1, 2, 3, 4, 5]
dir(myList)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [0]:
# 이터레이터가 아닌 예 : 정수
num = 3
dir(num)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

<연습문제 1>

1. 사용자로부터 정수를 입력받아, 해당 정수만큼 "안녕"을 출력하세요.
2. 사용자로부터 정수를 입력받아, 입력된 정수 만큼 별을 출력하세요.

In [0]:
print('안녕\n'*int(input()), end="")

5
안녕
안녕
안녕
안녕
안녕

In [0]:
for i in range(int(input())):
    print("*"*(i+1))

9
*
**
***
****
*****
******
*******
********
*********

In [0]:
# 참고
print("*"*(i+1) for i in range(int(input()))

22
<generator object <genexpr> at 0x0000012875EC7EC8>

### enumerate

 반복문 사용하여 반복 가능한 객체 내 인덱스와 값에 접근한다. 튜플이 반환되는데, 튜플의 첫 번째 요소가 인덱스, 두 번째 요소가 해당 요소의 값이다.

In [0]:
# enumerate 사용

tigers = ['최원준', '김선빈', '황대인', '나주환', '전상현', '양현종', '나지완', '박찬호', '한승택']
for j in enumerate(tigers): # 튜플이 반환된다.
    print(j)

(0, '최원준')
(1, '김선빈')
(2, '황대인')
(3, '나주환')
(4, '전상현')
(5, '양현종')
(6, '나지완')
(7, '박찬호')
(8, '한승택')

### unpack

 요소 개수를 맞춰주어야 한다.

In [0]:
# 다차원 리스트 unpack 
myList = [[1,2,3], [4,5,6], [7,8,9]]

for i, j, k in myList:
    print(i, j, k)

1 2 3
4 5 6
7 8 9

In [0]:
# 위의 경우에 unpack하면?
for i, j, k in tigers:
    print(i, j, k)

for i, j in tigers: # 개수 안 맞니까 오류 난다.
    print(i, j)

최 원 준
김 선 빈
황 대 인
나 주 환
전 상 현
양 현 종
나 지 완
박 찬 호
한 승 택

ValueError: too many values to unpack (expected 2)

### for문의 중첩

 내부 루프는 밖의 루프가 끝날 때마다 초기화된다. 마찬가지로, 안쪽 루프가 끝나야 바깥쪽 루프가 진행한다.

In [0]:
for i in range(5):
    print(f"================{i}번째 i루프=================")
    for j in range(8):
        print(f"{j}번째 j루프")

================0번째 i루프=================
0번째 j루프
1번째 j루프
2번째 j루프
3번째 j루프
4번째 j루프
5번째 j루프
6번째 j루프
7번째 j루프
================1번째 i루프=================
0번째 j루프
1번째 j루프
2번째 j루프
3번째 j루프
4번째 j루프
5번째 j루프
6번째 j루프
7번째 j루프
================2번째 i루프=================
0번째 j루프
1번째 j루프
2번째 j루프
3번째 j루프
4번째 j루프
5번째 j루프
6번째 j루프
7번째 j루프
================3번째 i루프=================
0번째 j루프
1번째 j루프
2번째 j루프
3번째 j루프
4번째 j루프
5번째 j루프
6번째 j루프
7번째 j루프
================4번째 i루프=================
0번째 j루프
1번째 j루프
2번째 j루프
3번째 j루프
4번째 j루프
5번째 j루프
6번째 j루프
7번째 j루프

<연습문제 2>

1. x = [3, 6, 9, 20, -7, 5] 의 값의 모든 요소에 10을 곱한뒤 출력하세요.
    - 심화 : 출력과 리스트 x 의 값에도 모두 10을 곱해주세요.
2. y = {“math”: 70, “science”: 80, “english”: 20} 의 값의 모든 요소에 10을 더한뒤 출력하세요.
    - 심화 : 출력과 딕셔너리 y 의 값에도 모두 10을 더해주세요.
3. 숫자를 입력받고 입력받은 정수의 구구단을 출력하세요.

In [0]:
# 1번
x = [3, 6, 9, 20, -7, 5]

for i in range(len(x)):
    print(x[i])
    x[i] *= 10

print(x)

3
6
9
20
-7
5
[30, 60, 90, 200, -70, 50]

In [0]:
# 2번
y = {'math': 70, 'science': 80, 'english': 20}

for k in y.keys():
    print(y[k])
    y[k] += 10
    
print(y)

70
80
20
{'math': 80, 'science': 90, 'english': 30}

딕셔너리에서는 **키**의 값이 반복된다!

In [0]:
# 딕셔너리의 반복

for k in y:
    print(k)

math
science
english

In [0]:
# 3번
n = int(input())
print(f"{n}단")

for i in range(1, n+1):
    print(f"{n} X {i} = {n*i}")

19
19단
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190
19 X 11 = 209
19 X 12 = 228
19 X 13 = 247
19 X 14 = 266
19 X 15 = 285
19 X 16 = 304
19 X 17 = 323
19 X 18 = 342
19 X 19 = 361

<연습문제 3>

1. word = [“school”, “game”, “piano”, “science”, “hotel”, “mountian”] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요

2. 구구단을 1단부터 9단까지 출력하세요

In [0]:
# 1번
word = ['school', 'game', 'piano', 'science', 'hotel', 'mountain']
print([w for w in word if len(w) >= 6])

['school', 'science', 'mountain']

**질문**

`remove` 사용하니까 piano가 들어 있다.

In [0]:
# remove 사용할 때의 문제
for i in word:
    if len(i) < 6:
        word.remove(i)
print(word)

['school', 'piano', 'science', 'mountain']

In [0]:
# 반복을 도는 기준이 바뀌어 버린다.
# 디버깅
word = ['school', 'game', 'piano', 'science', 'hotel', 'mountain']
for i in word:
    print(word)
    print(f"{i}를 체크합니다. 현재 인덱스 : {word.index(i)}")
    if len(i) < 6:
        print(f"{i}를 제거합니다.")
        word.remove(i)

print(f"최종 결과: {word}")
# school, game 체크 후 piano 체크해야 하는데 바로 science로 넘어감.

['school', 'game', 'piano', 'science', 'hotel', 'mountain']
school를 체크합니다. 현재 인덱스 : 0
['school', 'game', 'piano', 'science', 'hotel', 'mountain']
game를 체크합니다. 현재 인덱스 : 1
game를 제거합니다.
['school', 'piano', 'science', 'hotel', 'mountain']
science를 체크합니다. 현재 인덱스 : 2
['school', 'piano', 'science', 'hotel', 'mountain']
hotel를 체크합니다. 현재 인덱스 : 3
hotel를 제거합니다.
최종 결과: ['school', 'piano', 'science', 'mountain']

In [0]:
# 2번
for i in range(1, 10):
    print(f"=========={n}단=========")
    for j in range(1, 10):
        print(f"{i} X {j} = {i*j}")

==========19단=========
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
==========19단=========
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
==========19단=========
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
==========19단=========
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
==========19단=========
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
==========19단=========
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
==========19단=========
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
==========19단=========
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
==========19단=========
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

<연습문제 4>

1-100 까지 숫자중 3과 5의 공배수일경우 “3과 5의 공배수, 나머지 숫자중 3의 배수일경우 “3의배수", 나머지 숫자중 5의배수일경우 “5의배수", 모두 해당되지 않을경우 그냥숫자를 출력하세요.

심화 : 1-입력한숫자까지의 숫자중

In [0]:
for num in range(1, int(input())+1):
    if num % 15 == 0:
        print("3과 5의 공배수")
    elif num % 3 == 0:
        print("3의 배수")
    elif num % 5 == 0:
        print("5의 배수")
    else:
        print(num, "그냥 숫자")

100
1 그냥 숫자
2 그냥 숫자
3의 배수
4 그냥 숫자
5의 배수
3의 배수
7 그냥 숫자
8 그냥 숫자
3의 배수
5의 배수
11 그냥 숫자
3의 배수
13 그냥 숫자
14 그냥 숫자
3과 5의 공배수
16 그냥 숫자
17 그냥 숫자
3의 배수
19 그냥 숫자
5의 배수
3의 배수
22 그냥 숫자
23 그냥 숫자
3의 배수
5의 배수
26 그냥 숫자
3의 배수
28 그냥 숫자
29 그냥 숫자
3과 5의 공배수
31 그냥 숫자
32 그냥 숫자
3의 배수
34 그냥 숫자
5의 배수
3의 배수
37 그냥 숫자
38 그냥 숫자
3의 배수
5의 배수
41 그냥 숫자
3의 배수
43 그냥 숫자
44 그냥 숫자
3과 5의 공배수
46 그냥 숫자
47 그냥 숫자
3의 배수
49 그냥 숫자
5의 배수
3의 배수
52 그냥 숫자
53 그냥 숫자
3의 배수
5의 배수
56 그냥 숫자
3의 배수
58 그냥 숫자
59 그냥 숫자
3과 5의 공배수
61 그냥 숫자
62 그냥 숫자
3의 배수
64 그냥 숫자
5의 배수
3의 배수
67 그냥 숫자
68 그냥 숫자
3의 배수
5의 배수
71 그냥 숫자
3의 배수
73 그냥 숫자
74 그냥 숫자
3과 5의 공배수
76 그냥 숫자
77 그냥 숫자
3의 배수
79 그냥 숫자
5의 배수
3의 배수
82 그냥 숫자
83 그냥 숫자
3의 배수
5의 배수
86 그냥 숫자
3의 배수
88 그냥 숫자
89 그냥 숫자
3과 5의 공배수
91 그냥 숫자
92 그냥 숫자
3의 배수
94 그냥 숫자
5의 배수
3의 배수
97 그냥 숫자
98 그냥 숫자
3의 배수
5의 배수

입력한 숫자까지, n과 m의 공배수를 구하도록.

In [0]:
# 최대공약수 구하는 함수
def GCD(x, y):
    if x < y:
        x, y = y, x        
    while y:
        x, y = y, x % y        
    return x

In [0]:
m, n, x = map(int, input().split()) # m, n은 어떤 배수를 계산할지, x는 입력받은 숫자까지

for num in range(1, x+1):
    if num % ((m*n) // GCD(m, n)) == 0: # 최소공배수
        print(f"{num} : {m}과 {n}의 공배수")
    elif num % m == 0:
        print(f"{num} : {m}의 배수")
    elif num % n == 0:
        print(f"{num} : {n}의 배수")
    else:
        print(num)

4 7 200
1
2
3
4 : 4의 배수
5
6
7 : 7의 배수
8 : 4의 배수
9
10
11
12 : 4의 배수
13
14 : 7의 배수
15
16 : 4의 배수
17
18
19
20 : 4의 배수
21 : 7의 배수
22
23
24 : 4의 배수
25
26
27
28 : 4과 7의 공배수
29
30
31
32 : 4의 배수
33
34
35 : 7의 배수
36 : 4의 배수
37
38
39
40 : 4의 배수
41
42 : 7의 배수
43
44 : 4의 배수
45
46
47
48 : 4의 배수
49 : 7의 배수
50
51
52 : 4의 배수
53
54
55
56 : 4과 7의 공배수
57
58
59
60 : 4의 배수
61
62
63 : 7의 배수
64 : 4의 배수
65
66
67
68 : 4의 배수
69
70 : 7의 배수
71
72 : 4의 배수
73
74
75
76 : 4의 배수
77 : 7의 배수
78
79
80 : 4의 배수
81
82
83
84 : 4과 7의 공배수
85
86
87
88 : 4의 배수
89
90
91 : 7의 배수
92 : 4의 배수
93
94
95
96 : 4의 배수
97
98 : 7의 배수
99
100 : 4의 배수
101
102
103
104 : 4의 배수
105 : 7의 배수
106
107
108 : 4의 배수
109
110
111
112 : 4과 7의 공배수
113
114
115
116 : 4의 배수
117
118
119 : 7의 배수
120 : 4의 배수
121
122
123
124 : 4의 배수
125
126 : 7의 배수
127
128 : 4의 배수
129
130
131
132 : 4의 배수
133 : 7의 배수
134
135
136 : 4의 배수
137
138
139
140 : 4과 7의 공배수
141
142
143
144 : 4의 배수
145
146
147 : 7의 배수
148 : 4의 배수
149
150
151
152 : 4의 배수
153
154 : 7의 배수
155
156 : 4의 배수
157
158
159
160 : 4의 배수
161 : 7의 배수
162
163
164 : 4의 배수
165
166
167
168 : 4과 7의 공배수
169
170
171
172 : 4의 배수
173
174
175 : 7의 배수
176 : 4의 배수
177
178
179
180 : 4의 배수
181
182 : 7의 배수
183
184 : 4의 배수
185
186
187
188 : 4의 배수
189 : 7의 배수
190
191
192 : 4의 배수
193
194
195
196 : 4과 7의 공배수
197
198
199
200 : 4의 배수

**[참고]** 함수

- 수학 : `f(x) = 3x + 3`은, `x`가 들어가면 `f(1)`값이 리턴.
    * `x` : parameter argument.
    * `f()` : return.
    * parameter 인자를 받아서 수식, 논리 구조를 수행한 후 값을 리턴한다.
    
- 컴퓨터 : 호출. 호출해야 하므로 괄호`()`를 쓴다. 함수를 호출하면 반드시 리턴값이 있다.

 예로, `print()`가 있다. 이 함수는 `parameter argument`로 들어오는 값을 출력하는 기능을 한다. 리턴값은 `None`이다. 어떠한 값이든 입력을 받아 값을 돌려주기 전에 콘솔에다 찍어 주는 것이다. 따라서 반환된 값을 출력하면 `None`이 나온다.

In [0]:
# print 함수
c = print(100) # 값을 반환하기 전에 콘솔에 찍는다. 리턴값을 c에 저장한다.
print(c) # 반환되는 값은 None이다.

100
None